
body {
  background-color: $default-background-color-l15;
  color: $default-white;
}

.router-link {
  cursor: pointer;
}

.required {
  &::after {
    content: '*';
    color: red;
    margin-left: 0.3em;
  }
}
