
.background-green {
  background-color: green;
  color: antiquewhite;
  padding: 0.4em 0.8em;
  border-radius: 1em;
  cursor: pointer;
}

.background-red {
  background-color: red;
  color: antiquewhite;
  padding: 0.4em 0.8em;
  border-radius: 1em;
  cursor: pointer;
}


